#div1{
    display: flex;
    flex-direction: column;
}
header,footer{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}

#div2{
    display: flex;
    
}

#div2 h1{
    text-align: center;
    margin-left: 500px;
    margin: auto;
}

#div2 img{
    height: 100px;
    width: 100px;
}

#div3{
    display: flex;
    justify-content: center;
    background-color: red;
}



nav ul{
    display: flex;
}

nav ul li{
    margin-right: 80px;
    font-size: 20px;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: white;
}


/* 
#div3 nav{
    /* margin-left: 100px; *
} */

#div4{
    display: flex;
    height: 600px;
}

section{
    display: flex;
    flex-direction: column;
    height: 600px;
    background-color: salmon;
    padding: 0px 20px 0px 20px;
    width: 250px;
}

.button{
    display: flex;
    margin-left: 800px;
    
}

.button1{
    background-color:white ;
    border-radius: 10px;
    margin-left: 5px;
    padding: 10px;
    box-shadow: 6px 6px 10px black ;

}

#div5{
    height:50px;
    border-bottom: 1px solid black;
    padding: 20px;
    /* background-color: rgb(153, 182, 165); */
}

#div5 h1{
    text-align: center;
}

#div6{
    flex:1;
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
}
#div6 li{
    list-style: none;
    margin-top: 10px;
}

#div6 li a{
    text-decoration: none;
    font-family: cursive;
    color: white;
}

aside{
    flex: 1;
    height: 600px;
    background-color: tan;
}

aside h1{
    text-align: center;
}

aside img{
    /* margin: auto; */
    display: block;
    margin-left: auto;
    margin-right: auto ;
    /* width:350px; */
    /* height:350px; */
}
 aside p{
     text-align:center ;
 }


#div6 p a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

footer p{
    text-align: center;
}

 th,td{
    border: 1px solid black;
    width: 150px;
    /* height: 50px; */
    /* padding: 3px; */
    text-align: center;
    /* position: relative; */

   
} 





caption{
    font-size: 20px;
}

table{
    border-collapse: collapse;
    margin: auto;
    margin-top: 15px;
  
    
}

img.image{
    display: block;
    margin-left: auto;
    margin-right: auto ;
    width:100px;
    height:70px;


}

.input1{
    width: 45px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    border: 1px solid black;
    background-color: white;
    /* padding: 10px; */
}

.input{
    width: 40px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    /* padding: 10px; */
}

.class9{
    margin-top: -18px;
}
.class9 p{
    background-color: white;
    border-radius: 5px;
    padding: 0px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 4px 4px 3px black;

}

.class7{
    display: flex;
    
    margin-bottom: 15px;
    margin: 0px;
    padding: 0;
}

.class8{
    display: flex;
    flex-direction: column;
   
}
.commande{
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    width: 20px;
    text-align: center;
    box-shadow: 4px 4px 3px black;
}

@media all and (max-width: 1024px){

    #div1{
        margin: auto;
    }

    #div2{
        display: flex;
    }

    #div2 h1{
        text-align: centrer;
        font-size: 15px;
    }

    nav{
        display: flex;
        justify-content: center;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    nav ul li{
        margin-right: 15;
        font-size: 15px;
    }

    #div4{
        display: flex;
        flex-direction: column;
        height: 850px;

        /* margin: auto; */
    }

    #div5{
        width: 60px;
        margin: auto;
    }




    #div5 h1{
        font-size: 20px;
        border
        padding: 0px 8px 0px 8px;
    }

    section{
        width: auto;
        height: 350px;
    
    }
    aside{
        width: auto;
        flex:1;
    }

    th,td{
        border: 1px solid black;
        width: 80px;
        padding: 3px;
        text-align: center;
    
       
    }
    
    caption{
        font-size: 15px;
    }
    
    table{
        border-collapse: collapse;
        margin: auto;
      
        
    }
    
    img.image{
        display: block;
        margin-left: auto;
        margin-right: auto ;
        width:100px;
        height:70px;
    
    }

}